/* General */
body {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
    
}

a {
    text-decoration: none;
    color: #FFF;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
}

.page_titles {
    margin: 1rem 0;
    padding: 0 0.1rem;
    padding-bottom: 1rem;
    text-align: center;
    font-size: 2rem;
    color: blueviolet;
}

.navbar {
    position: relative;
    z-index: 1;
    background-color: blueviolet;
    height: 7rem;
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: row;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    column-gap: 0.1rem;
    -webkit-box-shadow: 2px 4px 15px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 4px 15px 2px rgba(0,0,0,0.75);
    box-shadow: 2px 4px 15px 2px rgba(0,0,0,0.75);
}   

.navbar_link {
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 1rem 0.7rem;
    align-self: center;
}

.navbar_link:hover {
    color: yellow;
}

.navbar_logo {
    width: 9rem;
    vertical-align: middle;
    margin: 0 4rem 0 3rem;
}

/* Menu [small display]*/
.navbar_btn_menu {
    display: none;
}

.navbar_menu_close {
    color: white;
    font-size: 3rem;
    align-self: end;
    padding: 4rem;
}

.navbar_menu {
    position: fixed; 
    width: 100vw;
    height: 100vh;
    background-color: blueviolet;
    z-index: 9999;
    display: none;
    flex-direction: column;
    transition: top 3s ease;
}

.navbar_menu.show {
    display: flex;
    flex-direction: column;
    top: 0;
}

.navbar_menu_itens {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    align-self: center;
}

.navbar_menu_item {
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
}
/* Media quer y*/
/*MAX-WIDTH 768px*/
@media(max-width: 768px){
    .navbar {
        height: 15vh;
        padding: 0.5rem;
    }

    .navbar_link {
        display: none;
    }

    .navbar_logo{
       width: 5rem;
       padding: 0;
       margin: 0;
       margin-left: 1rem;
    }

    .navbar_btn_menu {
        display: inline-block;
        width: 4rem;
        margin-left: 60%;
    }
}

/* Footer */
.footer {
    position: relative;
    z-index: 1;
    background-color: blueviolet;
    text-align:  center;
    padding: 1rem;
    -webkit-box-shadow: 2px 4px 15px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 4px 15px 2px rgba(0,0,0,0.75);
    box-shadow: 2px 4px 15px 2px rgba(0,0,0,0.75);
}

.footer_item {
    color: white;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.footer_item img {
    width: 1.2rem;
    margin: 0 0.5rem;
    padding: 0 0 0 0;
    vertical-align: middle;
}

.footer_item span {
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

/* Index */
.container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 0.5fr 12fr 2fr;
    height: 100vh;
    width: 100vw;
}

.content_index {
    background-image: linear-gradient(to right,  purple, blueviolet);
    padding: 0;
    font-size: 2rem;
    margin: 0;
}

.content_index_item:hover {
    border: 2px solid blueviolet;
}

/*Index carroussel*/
.slider-container {
    position: relative;
    width: 100vw; /* largura do carrossel */
    margin: 0 auto;
    padding: 0;
    z-index: 0;
}
  
.slider {
display: flex;
transition: transform 0.5s ease;
}

.slide {
width: 100%;
height: 75vh;
}
  
img {
width: 100%;
height: 100%;
object-fit: cover;
}

button {
position: absolute;
top: 50%;
transform: translateY(-50%);
background: #333;
color: white;
padding: 8px 12px;
border: none;
cursor: pointer;
z-index: 1;
}
  
.prev-btn {
left: 10px;
}

.next-btn {
right: 10px;
}
  

/*Animações index*/
@keyframes moveUp {
    from {transform: translateY(100%);}
    to {transform: translateY(0);}
  }
  
  @keyframes moveDown {
    from {transform: translateY(-100%);}
    to {transform: translateY(0);}
  }
  
  #index_img_2,
  #index_img_4,
  #index_img_6,
  #index_img_8,
  #index_img_10 {
    animation: moveDown 3s ease forwards;
  }
  
  #index_img_1,
  #index_img_3,
  #index_img_5,
  #index_img_7,
  #index_img_9 {
    animation: moveUp 3s ease forwards;
  }


/* Galeria */
.content_produtos {
    background-color: #F9D8E4;
}

.content_produtos_item img{
    width: 10rem;
    height: 20rem;
    border: 2px solid blueviolet;
}


/* Depoimentos */
.content_depoimentos {
    background-color: #F9D8E4;
    padding: 1rem;
}

.content_depoimentos_item {
    border: 1px solid black;
    width: 100%;
    border-radius: 20px;
    margin-bottom: 1rem;
    background-color: #FBE9F0;
    color: blueviolet;
    -webkit-box-shadow: 2px 4px 15px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 4px 15px 2px rgba(0,0,0,0.75);
    box-shadow: 2px 4px 15px 2px rgba(0,0,0,0.75);
}

.content_depoimentos_item p {
    font-size: 1rem;
    padding: 0.1rem 1rem;
}

.content_depoimentos_item_cliente {
    font-weight: bold;
    font-style: italic;
}

.content_depoimentos_item_text{
    font-size: 1rem;
    padding: 0.5rem;
    text-align: center;
    height: 10%;
}

/* Preços */
.content_precos {
    background-color: #F9D8E4;
    color: blueviolet;
    text-align: justify;
    font-size: 1rem;
}

.content_precos_item {
    border: 1px solid black;
    border-radius: 20px;
    background-color: #FBE9F0;
    width: 45%;
    color: blueviolet;
    flex-grow: 1;
    margin: 1rem 1rem;
    -webkit-box-shadow: 2px 4px 15px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 4px 15px 2px rgba(0,0,0,0.75);
    box-shadow: 2px 4px 15px 2px rgba(0,0,0,0.75);
}

.content_precos_item h2 {
    padding: 1rem 2rem;
}

.content_precos_item img {
    padding: 0rem 2rem;
    color: blueviolet;
    width: 1.6rem;
    height: 1.6rem;
}

.content_precos_item li {
    padding-right: 1rem;
}

.content_precos_item_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.modal_precos {
    width: 20rem;
    height: 28.9rem;
    background-color: #F9D8E4;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    border: 5px solid #000;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: none;
}

.modal_precos_image {
    width: 100%;
    height: 100%;
}

.modal_close {
    height: 2.5rem;
    width: 100%;
    text-align: right;
    background-color: #000;
    margin-bottom: 30rem;
}

.modal_close span {
    font-weight: bold;
    color: #fff;
    padding: 1rem;
    font-size: 2rem;
}

/*Que somos*/
.content_quem_somos {
    background-color: #F9D8E4;
    color: blueviolet;
    padding: 1rem;
    text-align: justify;
    font-size: 1rem;
}