/*Geral*/
body {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
    
}

a {
    text-decoration: none;
    color: #FFF;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
}

.background_image{
    background-image: url("../img/background_image.svg");
    width: auto;
}

.page_titles {
    margin: 0;
    padding: 0 0.1rem;
    padding-bottom: 1rem;
    text-align: center;
    font-size: 2rem;
    color: blueviolet;
}

.navbar {
    background-color: blueviolet;
    display: flex;
    flex-direction: row;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    column-gap: 0.1rem;
    padding: 0 0.3rem 1rem 0.5rem;
}   

.nav_title_item {
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
    border-right: 1px solid #FFF;
    border-left: 1px solid #FFF;
    padding-right: 0.7rem;
    padding-left: 0.7rem;   
}

.nav_title_item:hover {
    color: yellow;
   
}

/*Media query MAX-WIDTH 425px*/
@media(max-width: 430px){
    .navbar {
        flex-direction: column;
        row-gap: 0.1rem;
        align-items: center;
    }

    .content_index {
        text-align:  center;
        gap: none;
    }
    
    .content_index h2 {
        font-size: 1rem;
    }
    .index_subtitle_4 {
        padding-right: 1rem;
    }

}

/*MAX-WIDTH 768px*/
@media(max-width: 768px){
   .nav_title_item {
        font-size: 1rem;
        border: none;
    }
}

.footer {
    background-color: blueviolet;
    text-align:  center;
    padding: 1rem;
    box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5)
}

.footer_item {
    color: white;
    font-size: 1rem;
}

.logo {
    width: 10%;
}

/*Index*/
.container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 0.5fr 12fr 2fr;
    font-size: 3rem;
    height: 100vh;
    width: 100vw;
}

.content_index {
    display: flex;
    flex-direction: column;
    background-color: #F9D8E4;
    padding: 0 0 0 2rem;
    font-size: 2rem;
    margin: 0;
}



.content_index_item:hover {
    border: 2px solid blueviolet;
}

.index_subtitle_1 {
    color: blueviolet;
    margin: 1rem 0;
}

.index_subtitle_2 {
    color: darkorange;
    margin: 1rem 0;
}

.index_subtitle_3 {
    color: cornflowerblue;
    margin: 1rem 0;

}

.index_subtitle_4 {
    color: hotpink;
    word-wrap: unset;
    margin: 1rem 0;
}
/*Produtos*/
.content_produtos {
    background-color: #F9D8E4;
}

.content_produtos_item img{
    width: 10rem;
    height: 20rem;
    border: 2px solid blueviolet;
}


/*Depoimentos*/
.content_depoimentos {
    background-color: #F9D8E4;
    padding: 1rem;
}

.content_depoimentos_item {
    border: 1px solid black;
    width: 100%;
    border-radius: 20px;
    margin-bottom: 1rem;
    background-color: #FBE9F0;
    color: blueviolet;
    -webkit-box-shadow: 2px 4px 15px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 4px 15px 2px rgba(0,0,0,0.75);
    box-shadow: 2px 4px 15px 2px rgba(0,0,0,0.75);
}

.content_depoimentos_item p {
    font-size: 1rem;
    padding: 0.1rem 1rem;
}

.content_depoimentos_item_cliente {
    font-weight: bold;
    font-style: italic;
}

.content_depoimentos_item_text{
    font-size: 1rem;
    padding: 0.5rem;
    text-align: center;
    height: 10%;
}

/*Que somos*/
.content_quem_somos {
    background-color: #F9D8E4;
    color: blueviolet;
    padding: 1rem;
    text-align: justify;
    font-size: 1rem;
}

/*Preços*/
.content_precos {
    background-color: #F9D8E4;
    color: blueviolet;
    padding: 1rem;
    text-align: justify;
    font-size: 1rem;
}
